.App{
  padding:0;
  background-color: rgb(62, 77, 99);
  height: 100vh;
}

.Header{
  background-color: lightslategray;
  border-bottom: 1px solid #9c9898;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Content {
  margin-top: 10px;
}

.ChessHome {
  width: 100%;
  height: auto;
}

.PlayArea {
  width: 100%;
  height: auto;
}

@media (min-width: 1600px) {
  .ChessHome {
    width: 37%;
  }
  .PlayArea {
    width: 37%;
  }
}

@media (min-width: 2560px) {
  .ChessHome {
    width: 70%;
  }
  .PlayArea {
    width: 70%;
  }
}


