.App{
  padding:0;
  background-color: rgb(62, 77, 99);
  height: 100vh;
}

.Header{
  background-color: lightslategray;
  border-bottom: 1px solid #9c9898;
}

.InputField {
  margin-top: 15px;
  margin-bottom: 15px;
}

.Content {
  margin-top: 10px;
}

.ChessHome {
  width: 100%;
  height: auto;
}

.PlayArea {
  width: 100%;
  height: auto;
}



@media (min-width: 1200px) {
  .ChessHome {
    width: 96%;
  }
  .PlayArea {
    width: 96%;
  }
}

@media (min-width:1600px) {
  .ChessHome {
    width: 36%;
  }
  .PlayArea {
    width: 46%;
  }
}

@media (min-width: 1900px) {
  .ChessHome {
    width: 70%;
  }
  .PlayArea {
    width: 70%;
  }
}

@media (min-width: 2560px) {
  .ChessHome {
    width: 80%;
  }
  .PlayArea {
    width: 80%;
  }
}


.modal-content {
  background-color: rgb(42, 44, 46);
  color: rgba(255, 255, 255, 0.95);  
  outline: 1px solid rgb(100, 100, 100);
}

.modal-header {
  border-bottom: 2px solid rgb(100, 100, 100);
}

.modal-footer {
  border-top: 2px solid rgb(100, 100, 100);
}